/* .div-for-tk-component{
    width: 1050px;
    height:800px;
} */

.main-tk-container {
    display: flex;
    flex-direction: row;
}

.right-component-div {
    width: 250px;
}

.content-div-for-info {
    border: 1px solid black;
    /* background-image: url("./display.jpg"); */
    background-color: #B2BEB5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 20px;
    height: 190px;
}

.dropdown-tkinter .btn-primary {
    width: 11.5vw;
    height: 4vh;
    font-size: calc(10px + 0.25vw);
    min-height: 39px;
    min-width: 130px;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    width: 60px;
    border: 1px solid black;
}

.tkcomponentinfo {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 700;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
